# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignora todos los archivos 
*.qrc
*.user
*.user
*.html
*.mbed
*.bld

# Ignora el directorio
.vscode
BUILD

# Ignora el archivo especifico debug.log
Makefile
myMakeCFG
myMakefile
build-UI_THOR-Desktop_Qt_6_5_0_MinGW_64_bit-Debug/
